/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* CSS file in your plugin's directory */
.cloud-atlas-flow-file {
  /* Styling for .flow.md files */
  width: auto;
}

.cloud-atlas-flow-file::before {
  content: "CloudAtlas Flow";
  display: block;
  font-size: var(--font-larger);
  color: var(--foreground-secondary);
  background-color: var(--background-secondary);
  padding: var(--size-4-3);
  border-top: 2px solid var(--text-accent);
  border-bottom: 2px solid var(--text-accent);
  margin-bottom: var(--size-4-3);
}

.cloud-atlas-flowdata-file {
  /* Styling for .flowdata.md files */
  width: auto;
}


.cloud-atlas-flowdata-file::before {
  content: "CloudAtlas Flow Data";
  display: block;
  font-size: var(--font-larger);
  color: var(--foreground-secondary-alt);;
  background-color: var(--background-secondary-alt);
  padding: var(--size-4-3);
  border-top: 2px solid var(--text-accent-hover);
  border-bottom: 2px solid var(--text-accent-hover);
  margin-bottom: var(--size-4-3);
}

.canvas-node:not(.is-editing) .canvas-node-container:has(.cai-input) {
  position: relative;
  border-left: 4px solid;
}

.cai-input::before {
  content: "Input";
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  background-color: (0, 0, 255);
  color: (255, 255, 255);
  padding: 2px 8px;
  font-size: 0.8em;
}
